<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title>菜单列表</title>
    <style type="text/css">
        .red {
            color: #ff0e47;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>
        菜单列表
    </h1>
    <th:block th:if="${resources}==null">
        <div class="well blank-slate">
            <p>暂时还没有菜单数据</p>
            <a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i> 增加菜单</a>
        </div>

    </th:block>
    <th:block th:if="${resources}!=null">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    <span>序号</span>
                </th>
                <th>
                    <span>名称</span>
                </th>
                <th>
                    <span>类型</span>
                </th>
                <th>
                    <span>链接</span>
                </th>
                <th>
                    <span>父菜单</span>
                </th>
                <th>
                    <span>状态</span>
                </th>
                <th>
                    <span>操作</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="r:${resources}">
                <tr>
                    <td>
                        <span th:text="${r.mainInfo.orderNo}"></span>
                    </td>
                    <td>
                        <div>
                            <i th:class="${r.mainInfo.icon}"></i>
                            <span th:text="${r.mainInfo.resourceName }"></span>
                        </div>
                    </td>
                    <td>
                        <th:block th:switch="${r.mainInfo.type}">
                            <span th:case="module">模块</span>
                            <span th:case="page">页面</span>
                        </th:block>
                    </td>
                    <td>
                        <span th:text="${r.mainInfo.url}"></span>
                    </td>
                    <td>
                        <div th:unless="${r.parent==null}">
                        <i th:class="${r.parent.icon}"></i>
                        <span th:text="${r.parent.resourceName}"></span>
                        </div>
                    </td>
                    <td>
                        <th:block th:switch="${r.mainInfo.deleteFlag}">
                            <span th:case="0">正常</span>
                            <span th:case="1">删除</span>
                        </th:block>
                    </td>
                    <td>
                        <div class="t_link">
                            <a href="javascript:void(0);" th:attr="data-id=${r.mainInfo.resourceId}"
                               onclick="editResource(this);" class="btn btn-xs">编辑</a>
                            <th:block th:switch="${r.mainInfo.deleteFlag}">
                                <a th:case="0" onclick="del(this)"
                                   th:attr="data-id=${r.mainInfo.resourceId}" class="btn btn-xs btn-danger">删除</a>
                                <a th:case="1" onclick="reset(this)"
                                   th:attr="data-id=${r.mainInfo.resourceId}" class="btn btn-xs btn-success">恢复</a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <a id="btnAddMenu" href="javascript:void(0);"><i class="icon-plus"></i>增加菜单</a>
        <div id="editPanel"></div>
    </th:block>
</div>
</body>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery("#btnAddMenu").click(function () {
                $("#editPanel").load("/menu/editPanel?resourceId=0#new-project");
                return false;
            });
        });

        function editResource(obj) {
            var id = $(obj).attr("data-id");
            $("#editPanel").load("/menu/editPanel?resourceId=" + id + "#new-project");
            return false;
        }

        function del(obj) {
            var id = $(obj).attr("data-id");
            $.post("[[@{/menu/delete}]]", {"id": id}, function () {
                window.location.reload();
            });
        }

        function reset(obj){
            var id = $(obj).attr("data-id");
            $.post("[[@{/menu/reset}]]", {"id": id}, function () {
                window.location.reload();
            });
        }
    </script>
</th:block>
</html>