<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title>频道列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <h1>频道列表</h1>
        <div class="span2">
            <th:block th:if="${parents.size()==0}">
                <div class="well blank-slate">
                    <p>尚未设置一级频道</p>
                    <a name="btnAdd1" href="javascript:void(0);" class="btn btn-primary"><i class="icon-plus icon-white"></i>新增</a>
                </div>
            </th:block>
            <th:block th:if="${parents.size()!=0}">
                <ul id="channelParents" class="nav nav-pills nav-stacked">
                    <th:block th:each="item:${parents}">
                        <li th:class="${item.id==parentId}?'active':''">
                            <a th:href="@{/channel/list(parentId=${item.id})}" th:attr="data-id=${item.id},data-order=${item.orderNum}"
                               th:text="${item.channelName}"></a>
                        </li>
                    </th:block>
                </ul>
                <p>
                    <th:block th:if="${parentId>0}">
                        <button type="button" class="btn btn-default" id="btnModify1">修改</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </th:block>
                    <button type="button" name="btnAdd1" class="btn btn-primary">新增</button>
                </p>
            </th:block>
        </div>
        <div class="span7">
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form id="myForm" class="form-horizontal">
                        <input type="hidden" id="level" name="level" value="0" required range="[1,2]">
                        <input type="hidden" id="id" name="id" value="0">
                        <input type="hidden" id="parentId" name="parentId">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="channelName">频道名称：</label>
                                <div class="controls">
                                    <input type="text" id="channelName" name="channelName" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="orderNum">频道序号：</label>
                                <div class="controls">
                                    <input type="text" id="orderNum" name="orderNum" required number="true" min="1">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnSave">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $().ready(function () {
            $("[name='btnAdd1']").click(function () {
                initModal(1,0,1);
            });

            $("#btnModify1").click(function () {
                var $objItem=$("#channelParents li.active a");
                var id=$objItem.attr("data-id");
                var order=$objItem.attr("data-order");
                var name=$objItem.html();
               initModal(1,id,order,0,name);
            });

            $("#btnSave").click(function () {
                $("#myForm").submit();
            });

            $("#myForm").validate({
                errorElement: "span",
                messages: {
                    range: $.validator.format( "请输入 {0} 和 {1}之间的数值" ),
                    max: $.validator.format( "数值必须小于或等于{0}." ),
                    min: $.validator.format( "数值必须大于或等于{0}." ),
                    required:"必填",
                    orderNum:{
                        number:"序号必须为数值类型"
                    }
                }
            });
        });

        $.validator.setDefaults({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    url:/*[[@{/channel/ajaxSave}]]*/,
                    type: "post",
                    dataType: "json",
                    success: function (resultId) {
                        if (resultId != null && resultId> 0) {
                            var url=/*[[@{/channel/list}]]*/;
                            window.location.href =url+"?parentId="+resultId;
                        } else {
                            alert("保存失败");
                        }
                    }
                });
            }
        });

        //弹出窗口修改一级频道
        function initModal(level, id, orderNum,parentId,channelName) {
            var levelName = "一级频道";
            if (level && level == 2) {
                levelName = "二级频道";
            }
            var opType;
            if (id) {
                opType = "修改";
            } else {
                opType = "新增";
            }

            $("#level").val(level);
            $("#id").val(id||0);
            $("#parentId").val(parentId||0);
            $("#myModalLabel").html(opType + levelName);
            $("#channelName").val(channelName||"");
            $("#orderNum").val(orderNum);

            $('#myModal').modal('show');
        }
    </script>
</th:block>
</body>
</html>