<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/static/uploadify/uploadify.css}">
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form id="myForm" class="form-horizontal" th:object="${article}">
        <input type="hidden" th:field="*{id}">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="title">标题</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{title}"
                           required minlength="5" maxlength="30">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="summary">摘要</label>
                <div class="controls">
                    <textarea class="input-xlarge" th:field="*{summary}" required></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="channel2">频道：</label>
                <div class="controls">
                    <select th:field="*{channel1}">
                        <option value="-1">--一级频道--</option>
                        <th:block th:each="c:${channels1}">
                            <option th:value="${c.id}" th:text="${c.channelName}"></option>
                        </th:block>
                    </select>
                    <select th:field="*{channel2}">
                        <option value="-1">--二级频道--</option>
                        <th:block th:each="c:${channels2}">
                            <option th:value="${c.id}" th:text="${c.channelName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="content">正文</label>
                <div class="controls">
                    <script type="text/plain" id="content" name="content" th:utext="${article.content}"></script>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="coverImage">代表图</label>
                <div class="controls">
                    <input type="hidden" th:field="*{coverImage}">
                    <input class="input-file" id="fileInput" type="file">
                    <img id="previewCoverImage" th:src="${article.coverImage}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="publishTime">发布时间</label>
                <div class="controls">
                    <input type="text" th:field="*{publishTime}"
                           onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" required>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn" th:href="@{/article/list}">返回列表</a>
            </div>
        </fieldset>
    </form>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/static/uploadify/jquery.uploadify.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#channel1").change(function () {
                var channel1 = $(this).val();
                loadChannel2(channel1);
            });

            $("#fileInput").uploadify(
                {
                    'swf': /*[[@{/static/uploadify/uploadify.swf}]]*/,
                    'uploader': /*[[@{/upload/uploadCoverImage}]]*/, //后台action地址
                    'queueID': 'fileQueue',
                    'auto': true,
                    'multi': false,
                    'buttonText': '上传图片',
                    'fileObjName': 'pic', //对应action中的参数字段名称
                    'width': 70,
                    'height': 20,
                    'onUploadSuccess': function (file, data, response) {
                        if (data != null) {
                            $("#coverImage").val(data); //赋值给hidden控件，便于提交form表单
                            $("#previewCoverImage").attr("src",data); //复制给img控件用来预览
                        }
                    }
                });
        });

        function loadChannel2(channel1) {
            $("#channel2 option:gt(0)").remove();

            $.getJSON(/*[[@{/channel/ajaxListByParent}]]*/, {"parentId": channel1}, function (result) {
                if (result && result.length > 0) {
                    $.each(result, function (index, channel) {
                        var $objOption = $("<option>");
                        $objOption.attr("value", channel.id).html(channel.channelName);
                        $("#channel2").append($objOption);
                    });
                }
            });
        }

        $(document).ready(function () {
            $("#myForm").validate({
                errorElement: "span",
                messages: {
                    required: "必填",
                    maxlength: $.validator.format("长度必须小于或等于{0}."),
                    minlength: $.validator.format("长度必须大于或等于{0}."),
                }
            });
        });

        $.validator.setDefaults({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    url:/*[[@{/article/ajaxSave}]]*/,
                    type: "post",
                    dataType: "json",
                    success: function (json) {
                        if (json != null && json.returncode== 0) {
                            window.location.href =/*[[@{/article/list}]]*/;
                        } else {
                            var msg="保存失败";
                            if(result!=null){
                                msg=result.message;
                            }
                            alert(msg);
                        }
                    }
                });
            }
        });

        /*]]>*/

    </script>
    <script type="text/javascript" th:src="@{/ueditor/ueditor.config.js}"></script>
    <script type="text/javascript" th:src="@{/ueditor/ueditor.all.js}"></script>
    <script th:inline="javascript">
        UE.getEditor('content',{
            initialFrameWidth : 700,
            initialFrameHeight: 350
        });
    </script>
</th:block>
</body>
</html>