<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form id="myForm" class="form-horizontal" th:object="${user}">
        <input type="hidden" th:field="*{userId}">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">用户名称</label>
                <div class="controls">
                    <th:block th:if="${user.userId==null||user.userId==0}">
                        <input type="text" class="input-xlarge" th:field="*{username}"
                               required minlength="3" maxlength="20" th:attr="remote='/user/ajax/validateUsername'">
                    </th:block>
                    <th:block th:if="${user.userId!=null&&user.userId!=0}">
                        <input type="text" th:field="*{username}" disabled>
                    </th:block>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="realName">真实姓名</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{realName}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mobile">手机</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{mobile}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{email}" email="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="roleIds">角色</label>
                <div class="controls">
                    <th:block th:each="r:${roles}">
                        <label class="checkbox">
                            <input type="checkbox" name="roleIds" th:value="${r.roleId}">
                            <th:block th:text="${r.name}"></th:block>
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn" th:href="@{/user/list}">返回列表</a>
            </div>
        </fieldset>
    </form>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId = jQuery("#userId").val();

        $(document).ready(function () {
            var roleIds =/*[[${roleIds}]]*/;
            setRolesChecked(roleIds);

            $("#myForm").validate({
                errorElement: "span",
                messages: {
                    username: {
                        required: "必填",
                        minlength: "不能少于3个字符",
                        maxlength: "不能大于20个字符"
                    },
                    realName: {
                        required: "必填"
                    },
                    email: {
                        email: "邮件格式有误"
                    }
                }
            });
        });

        $.validator.setDefaults({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    url:/*[[@{/user/ajax/save}]]*/,
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        if (result != null && result> 0) {
                            window.location.href =/*[[@{/user/list}]]*/;
                        } else {
                            alert("保存失败");
                        }
                    }
                });
            }
        });

        /*]]>*/

        function setRolesChecked(roleIds) {
            if (roleIds.length > 0) {
                var arr = roleIds.split(",");
                for (var i = 0; i < arr.length; i++) {
                    $("[name='roleIds'][value='" + arr[i] + "']").prop("checked", true);
                }
            }
        }
    </script>
</th:block>
</body>
</html>