<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form id="myForm" class="form-horizontal" th:object="${user}">
        <input type="hidden" th:field="*{userId}">
        <input type="hidden" th:field="${roleIds}">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">用户名称</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{username}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="realName">真实姓名</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{realName}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" th:field="*{password}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mobile">手机</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{mobile}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{email}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="roleIds">角色</label>
                <div class="controls">
                    <th:block th:each="r:${roles}">
                        <label class="checkbox">
                            <input type="checkbox" name="roleIds" th:value="${r.roleId}">
                            <th:block th:text="${r.name}"></th:block>
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn" th:href="@{/user/list}">返回列表</a>
            </div>
        </fieldset>
    </form>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/static/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/static/zTree_v3/js/jquery.ztree.excheck.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
       $(document).ready(function () {
           var roleIds=/*[[${roleIds}]]*/;
           checkRoles(roleIds);
       });

        /*]]>*/

        function checkRoles(roleIds){
            if(roleIds.length>0){
                var arr=roleIds.split(",");
                for(var i=0;i<arr.length;i++){
                    $("[name='roleIds'][value='"+arr[i]+"']").prop("checked",true);
                }
            }
        }
    </script>
</th:block>
</body>
</html>