<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
</head>
<body>
<div layout:fragment="content">
    <h1>
        用户列表
    </h1>
    <form class="form-search" th:object="${query}" id="myform">
        <p>
            <input type="hidden" th:field="*{pageIndex}">
            <input type="text" placeholder="用户名" id="username" th:field="*{username}">
            <button type="button" class="btn" id="btnQuery">查找</button>
            <a class="btn" id="btnExport">导出</a>
            <a class="btn btn-success" th:href="@{/user/edit}">新增</a>
        </p>
        <th:block th:if="${pageModel.totalCount}==0">
            <div class="well blank-slate">
                <p>暂时还没有用户数据</p>
                <a th:href="@{/user/edit}" class="btn btn-primary"><i class="icon-plus icon-white"></i> 增加用户</a>
            </div>
        </th:block>
        <th:block th:if="${pageModel.totalCount}!=0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>账号</span>
                    </th>
                    <th>
                        <span>姓名</span>
                    </th>
                    <th>
                        <span>电话号码</span>
                    </th>
                    <th>
                        <span>创建时间</span>
                    </th>
                    <th>
                        <span>状态</span>
                    </th>
                    <td>
                        <span>操作</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="u:${pageModel.items}">
                    <tr>
                        <td>
                            <span th:text="${u.userId}">序号</span>
                        </td>
                        <td>
                            <span th:text="${u.username}"></span>
                        </td>
                        <td>
                            <span th:text="${u.realName}"></span>
                        </td>
                        <td>
                            <span th:text="${u.mobile}"></span>
                        </td>
                        <td>
                            <span th:text="${#dates.format(u.createDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td>
                            <span th:text="${u.deleteFlag}=='0'?'正常':'删除'"></span>
                        </td>
                        <td>
                            <a class="btn btn-deault btn-xs" th:href="@{/user/edit(userId=${u.userId})}">编辑</a>
                            <th:block th:switch="${u.deleteFlag}">
                                <a th:case="0" name="btnDelete" th:attr="data-id=${u.userId}"
                                   class="btn btn-xs btn-danger">删除</a>
                                <a th:case="1" name="btnReset" th:attr="data-id=${u.userId}"
                                   class="btn btn-xs btn-success">恢复</a>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:replace="fragments/pager::pager"></div>
        </th:block>
    </form>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#btnQuery").click(function () {
                submitQuery();
            });

            $("#btnExport").click(function () {
                var username = $("#username").val();
                window.location.href = "/user/export?username=" + username;
            })

            $("[name='btnDelete']").click(function () {
                var userId = $(this).attr("data-id");
                deleteUser(userId);
            });

            $("[name='btnReset']").click(function () {
                var userId = $(this).attr("data-id");
                resetUser(userId);
            });
        });

        function submitQuery() {
            $("#myform").submit();
        }

        function deleteUser(userId) {
            if (confirm("确定删除该用户吗?")) {
                $.post(/*[[@{/user/ajax/delete}]]*/, {"userId": userId}, function (result) {
                    if (result != null && result > 0) {
                        window.location.reload();
                    }
                });
            }
        }

        function resetUser(userId) {
            $.post(/*[[@{/user/ajax/reset}]]*/, {"userId": userId}, function (result) {
                if (result != null && result > 0) {
                    window.location.reload();
                }
            });
        }

        /*]]>*/
    </script>
</th:block>
</body>
</html>