<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="well" style="padding: 8px 0;" th:fragment="menu">
    <ul class="nav nav-list">
        <th:block th:each="menu:${session.session_menu_resource}">
            <li class="nav-header" th:text="${menu.currentResource.resourceName}"></li>
            <th:block th:each="child:${menu.children}" th:unless="${menu.children}==null">
                <li>
                    <a th:href="${child.currentResource.url}"><i th:class="${child.currentResource.icon}"></i>
                        <th:block th:text="${child.currentResource.resourceName}"></th:block>
                    </a>
                </li>
            </th:block>
        </th:block>
    </ul>
</div>
</body>
</html>