<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${menu}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${menu}"></h1>
    <form class="form-horizontal" th:action="@{/role/save}" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="name">角色名称</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">角色描述</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="description" rows="3"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="select01">Client</label>
                <div class="controls">
                    <select id="select01"> <option>-- Select client --</option> <option>Bad Robot</option> <option>Evil Genius</option> <option>Monsters Inc</option> </select>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button> <button class="btn">返回列表</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>