<!DOCTYPE html>
<html lang="en" layout:decorator="task/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${menu}"></title>
    <link rel="stylesheet" th:href="@{/static/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${menu}"></h1>
    <form id="myForm" class="form-horizontal" th:object="${role}">
        <input type="hidden" th:field="*{roleId}">
        <input type="hidden" name="resourceIds" id="resourceIds">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="name">角色名称</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" th:field="*{name}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">角色描述</label>
                <div class="controls">
                    <textarea class="input-xlarge" th:field="*{description}" rows="3"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">菜单</label>
                <div class="controls">
                    <ul id="ztree" class="ztree"></ul>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <button class="btn">返回列表</button>
            </div>
        </fieldset>
    </form>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/static/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/static/zTree_v3/js/jquery.ztree.excheck.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var zTreeObj;
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: {"Y": "ps", "N": "ps"}
            }
        };

        $.validator.setDefaults({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    url:/*[[@{/role/save}]]*/,
                    type:"post",
                    dataType:"json",
                    beforeSerialize: fillResourceIds,
                    success:function(json){
                        if(json!=null&&json.returncode==0){
                            window.location.href=/*[[@{/role/list}]]*/;
                        }else{
                            alert("保存失败");
                        }
                    }
                });
            }
        });
        function fillResourceIds(){
            var resourceIds=new Array();

            var treeObj = $.fn.zTree.getZTreeObj("ztree");
            var nodes = treeObj.getCheckedNodes(true);
            if(nodes){
                for(var i in nodes){
                    resourceIds.push(nodes[i].id);
                }
            }
            $("#resourceIds").val(resourceIds);
        }

        $().ready(function () {
            $("#myForm").validate({
                rules: {
                    name: "required"
                },
                messages: {
                    name: "请输入角色名称"
                }
            });

            //加载资源树
            var zNodes = eval(/*[[${resourceJson}]]*/);
            zTreeObj = $.fn.zTree.init($("#ztree"), setting, zNodes);
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>